@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('fonts/SourceSansPro-Light.eot') format('embedded-opentype'),
  url('fonts/SourceSansPro-Light.ttf.woff2') format('woff2'),
  url('fonts/SourceSansPro-Light.otf.woff') format('woff'),
  url('fonts/SourceSansPro-Light.otf') format('opentype'),
  url('fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('fonts/SourceSansPro-Regular.eot') format('embedded-opentype'),
  url('fonts/SourceSansPro-Regular.ttf.woff2') format('woff2'),
  url('fonts/SourceSansPro-Regular.otf.woff') format('woff'),
  url('fonts/SourceSansPro-Regular.otf') format('opentype'),
  url('fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('fonts/SourceSansPro-Bold.eot') format('embedded-opentype'),
  url('fonts/SourceSansPro-Bold.ttf.woff2') format('woff2'),
  url('fonts/SourceSansPro-Bold.otf.woff') format('woff'),
  url('fonts/SourceSansPro-Bold.otf') format('opentype'),
  url('fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Regular.eot');
  src: url('fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Merriweather-Regular.woff') format('woff'),
  url('fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Bold.eot');
  src: url('fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Merriweather-Bold.woff') format('woff'),
  url('fonts/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/MerriweatherUltraBold.eot');
  src: url('fonts/MerriweatherUltraBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/MerriweatherUltraBold.woff') format('woff'),
  url('fonts/MerriweatherUltraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  padding-top: 20px;
  padding-bottom: 90px;
}

.container {
  max-width: 970px;
}

.navbar-empty .navbar-toggle {
  border-color: #ddd;
}

.navbar-empty .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-empty .navbar-brand {
  padding: 10px 15px;
}

.navbar-nav>li>.navbar-sd-link {
  color: rgba(17, 17, 17, 0.5);
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 767px) {
  .navbar-nav>li>.navbar-sd-link {
    padding: 15px 5px;
  }
}

@media (min-width: 990px) {
  .navbar-nav>li>.navbar-sd-link {
    padding: 15px 24px;
  }
}

.navbar-sd-button, .navbar-sd-button:active, .navbar-sd-button:focus {
  color: #011111;
  border: 3px solid #0097fd;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.navbar-nav li .navbar-sd-button:hover {
  color: white;
  background-color: #0097fd;
}

.navbar-nav li .navbar-sd-button {
  color: black;
}

h1 {
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 41px;
  font-style: normal;
  display: block;
  max-width: 606px;
  margin-top: 140px;
  margin-bottom: 50px;
  line-height: 1.2em;
  font-weight: 800;
  color: black;
}

h2 {
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 30px;
  font-weight: normal;
  margin-top: 2em;
}

p {
  font-size: 20px;
  margin-top: 30px;
}

.reveal {
  font-weight: 700;
  text-transform: uppercase;
}

.reveal a {
  text-decoration: underline;
}

.reveal-caret {
  margin-left: 20px;
}

em.red {
  font-style: normal;
}

a, a:hover, a:active, a:focus, .red {
  color: #cc3333;
}

.span-grid span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px 3px 0;
}

.span-grid-opis span {
  background-color: lightgray;
}

.span-grid-maintenance span {
  background-color: rgb(204, 51, 51);
}

.span-grid-opii span {
  background-color: rgb(58, 103, 232);
}

.exp-list {
  list-style-type: none;
  max-width: 850px;
  margin-top: 20px;
}

.exp-list li {
  counter-increment: step-counter;
  margin-bottom: 3em;
}

.exp-list li:before {
  content: counter(step-counter);
  color: #cd3939;
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
}

.exp-list-title {
  border-bottom: 3px solid rgb(253, 255, 102);
  font-weight: 700;
  font-size: 26px;
  margin-left: 40px;
}

.exp-list-body {
  margin-left: 65px;
}


.btn-sd {
  background-color: #0097fd;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 0;
  padding: 10px 30px;
  display: block;
  width: 290px;
  margin: 32px auto 0 auto;
}

.suggestion {
  padding: 2em;
  background-color: rgb(228, 253, 221);
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
}

.signature-block {
  background-color: rgba(24, 24, 24, 0.85);
  color: #fff;
  width: 100%;
  padding: 20px;
}

.signature-block a, .signature-block a:hover, .signature-block a:focus, .signature-block:active {
  color: #fff;
}

.signature-block-centered {
  text-align: center;
}

.signature-form input[type='text'] {
  margin-right: 10px;
}

.signature-form input[type='checkbox'] {
  margin-right: 5px;
}

.signature-form button {
  margin-left: 10px;
  background-color: #0097fd;
  color: white;
  border: 0;
  border-radius: 0;
}


section {
  margin: 10em 0;
}

.letter {
  border: 5px solid #ddd;
  padding: 30px 50px;
  text-align: justify;
}

.letter h1 {
  margin-top: 20px;
  max-width: none;
  font-style: normal;
  font-weight: normal;
}

.form-control {
  border-radius: 0;
}

p.lead {
  font-weight: 500;
}