<meta property="og:type" content="website" />
<meta property="og:site_name" content="Slovensko.Digital"/>
<meta property="og:url" content="http://slovensko.digital{{ page.url }}" />
<meta property="og:title" content="{% if page.og.title %}{{ page.og.title }}{% else %}{{ page.title }}{% endif %}" />
{% if page.og.description %}<meta property="og:description" content="{{ page.og.description }}" />{% endif %}
{% if page.og.image %}<meta property="og:image" content="{{ page.og.image }}" />{% endif %}
{% if page.og.secure_url %}<meta property="og:image:secure_url" content="{{ page.og.secure_url }}" />{% endif %}
